<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KavenegarSmsSender</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KavenegarSmsSender.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KavenegarSmsSender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SendSms" asp-action="MainView">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 1405 - KavenegarSmsSender
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
           // Toastr configuration
            toastr.options={
            "closeButton" : true,
            "debug" : false,
            "newestOnTop" : false,
            "progressBar" : true,
            "preventDuplicates" : true, // Add this line to prevent duplicates
            "onclick" : null,
            "showDuration" : "400" ,
            "hideDuration" : "1500" ,
            "timeOut" : "6000" ,
            "extendedTimeOut" : "1500" ,
            "showEasing" : "swing" ,
            "hideEasing" : "linear" ,
            "showMethod" : "fadeIn" ,
            "hideMethod" : "fadeOut" ,
            "positionClass" : "toast-center-center" , // Custom class for centering
            };
            // Display Toastr notifications
            function showToastr(type, message) {
                if (message && message.trim() !== '') { // Only show if message is not empty
                    toastr[type](message);
                }
            }
            // Check for TempData messages and display them
            var successMessage='@TempData["SuccessMessage"]';
            var errorMessage='@TempData["ErrorMessage"]';
            var infoMessage='@TempData["InfoMessage"]';
            var warningMessage='@TempData["WarningMessage"]';
            showToastr('success', successMessage);
            showToastr('error', errorMessage);
            showToastr('info', infoMessage);
            showToastr('warning', warningMessage);
            // Clear TempData after use
            '@TempData.Remove("SuccessMessage")';
            '@TempData.Remove("ErrorMessage")';
            '@TempData.Remove("InfoMessage")';
            '@TempData.Remove("WarningMessage")';
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
